Adafruit-Blinka==8.66.0
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-bno08x==1.2.10
adafruit-circuitpython-busdevice==5.2.13
adafruit-circuitpython-connectionmanager==3.1.5
adafruit-circuitpython-requests==4.1.13
adafruit-circuitpython-typing==1.12.1
adafruit-circuitpython-vl53l0x==3.6.16
Adafruit-PlatformDetect==3.83.1
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
lgpio==0.2.2.0
pyftdi==0.57.1
pynmea2==1.19.0
pyserial==3.5
pyusb==1.3.1
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
smbus==1.1.post2
smbus2==0.5.0
spidev==3.7
sysv_ipc==1.1.0
typing_extensions==4.15.0
VL53L0X @ git+https://github.com/pimoroni/VL53L0X-python.git@1b6f02dac1a352e01e549b3e98747f4933f48ec3
VL53L1X==0.0.5
